<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>
</head>

<body>
    <div id="app">
        {{message}}
        <ul>
            <li v-for="ul in arrInArr">
                <ul>
                    <li v-for="li in ul">{{li}}</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li v-for="obj in objInArr">
                <ul>
                    <li>{{obj.title}}</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            message: 'hello vue',
            arrInArr: [
                [
                    1.1,
                    1.2
                ],
                [
                    2.1,
                    2.2
                ]
            ],
            objInArr: [
                {
                    title: '1.1'
                },
                {
                    title: '2.1'
                },
            ]
        }
    });
</script>

</html>